<div class="jumbotron">
  <div class="container">
  	<h2>Sign up</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <form class="form-signin" action="overview.html">
    	<div class="col-md-5">
	      <label for="inputEmail" class="sr-only">Email address</label>
	      <input type="email" ng-model="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
	      <label for="inputPassword" class="sr-only">Password</label>
	      <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="pass" required>
	      <div class="checkbox">
	        <label>
	          <input type="checkbox" value="remember-me">
	          <span>Remember me</span>
	        </label>
	        <span class="separator">·</span>
	        <a class="forgot" href="">Forgot password?</a>
	      </div>
	      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="signup(email,pass)">Sign up</button>
	    </div>
	    <div class="col-md-1">
	    </div>
	    <div class="col-md-6">
	      <label for="inputGroup" class="sr-only">Group</label>
	      <input type="sex" ng-model="group" id="inputGroup" class="form-control" required placeholder="Group">
	      <label for="inputFirstName" class="sr-only">First Name</label>
	      <input id="inputFirstName" class="form-control" ng-model="firstName" placeholder="First Name" required>
	      <label for="inputLastName" class="sr-only">Last Name</label>
	      <input id="inputLastName" class="form-control" ng-model="lastName" placeholder="Last Name" required>
	      <label for="inputAge" class="sr-only">Age</label>
	      <input id="inputAge" class="form-control" ng-model="age" placeholder="Age" required>
	      <label for="inputHeight" class="sr-only">Height</label>
	      <input id="inputHeight" class="form-control" ng-model="height" placeholder="Height" required>
	      <label for="inputWeight" class="sr-only">Weight</label>
	      <input id="inputWeight" class="form-control" ng-model="weight" placeholder="Weight" required>
	      <label for="inputSex" class="sr-only">Sex</label>
	      <input id="inputSex" class="form-control" ng-model="sex" placeholder="Sex" required>
	    </div>  
    </form>
  </div>
</div>

<!--
-->